@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-dark-violet: #011936;
  --clr-Very-Dark: #161722;
  --clr-Very-Dark-Desaturated-Blue: #25273c;
  --clr-Very-Grayish-Blue: #4d5066;
  --clr-Very-Dark-Grayish-Blue: #393a4c;
  --clr-verdigris: #48a9a6;
  --dark-pastel-green: #20bf55;
  --clr-blue: #0b4f6c;
  --clr-royal-blue-dark: #03256c;
  --clr-denim-blue: #2541b2;
  --clr-blue: #1768ac;
  --clr-Dark-Blue: #2b3945;
  --clr-Very-Dark-Blue: #202c37;
  --clr-Very-Dark-Blue-Light: #111517;
  --clr-Dark-Grayish-Blue: #323a49;
  --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25),
    -2px -2px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
